doctype html
html
  meta(charset='utf-8')
  head
    link(rel='stylesheet', href='/stylesheets/geographical.css')
    script(src='/javascript/geographical.js')
    // creates uStates.
    script(src='http://d3js.org/d3.v3.min.js')
  body(onload='uStates_init();')
    h1='Exploring geographical data using Spark'
    #description
      p 
        | This example is an EclairJS Node Express implementation of 
        a(href='https://www.codementor.io/spark/tutorial/exploratory-geographical-data-using-sparkr-and-ggplot2') Exploring geographical data using SparkR and ggplot2
      
    #tooltip
    // div to hold tooltip.
    h2='Average Lot Size'
    svg#statesvg(width='960', height='600')
    // svg to hold the map.
    h2='Average Property Value'
    svg#statesvgAVG_VALP(width='960', height='600')
    // svg to hold the map.
    h2='Average Cost of Utilities'
    svg#statesvgUtils(width='960', height='600')
    // svg to hold the map.
    
   