doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/movie_recommender.css')
    script(src='/javascript/mr.js')
 
  body(onload='init();')
    h1= title
    p 
        | This examples is an EclairJS implementation of 
        a(href='https://www.codementor.io/spark/tutorial/building-a-recommender-with-apache-spark-python-example-app-part1') Building a Movie Recommendation Service with Apache Spark & Flask
    div(class="wrapper")
        div(id="stars" class="starsDiv.acidjs-rating-stars main")
        div(id="top25" class="top25Div aside")
