doctype html
html
  meta(charset='utf-8')
  head
    link(rel='stylesheet', href='/stylesheets/geographical.css')
    script(src='/javascript/geographical.js')
    // creates uStates.
    script(src='http://d3js.org/d3.v3.min.js')
  body(onload='uStates_init();')
    h1='Exploring geographical data using Spark'
    #description
      p 
        | Analyse large datasets in order to explore the 
        a(href='http://www.census.gov/programs-surveys/acs/data/summary-file.html') 2013 American Community Survey
      
    #tooltip
    // div to hold tooltip.
    h2='Average Lot Size'
    svg#statesvg(width='960', height='600')
    // svg to hold the map.
    h2='Average Property Value'
    svg#statesvgAVG_VALP(width='960', height='600')
    // svg to hold the map.
     h2='Average Cost of Utilities'
    svg#statesvgUtils(width='960', height='600')
    // svg to hold the map.
    
   