body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.footer {
    font-size: .8em;
    text-decoration: none;
}

p.header {
    margin-bottom: 25px;
}

button.count {
    font-size: 1em;
}

#topTen > li {
    list-style-type: none;
    margin-left: -40px;
    padding-top: 5px;
}

